<!DOCTYPE html>
<html>
    <head>
        <title>猜电影</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
    <body>
        <h1>点击标题，开始录音翻译</h1>
        <p id="title"></p>
        <div id="poster"></div>
        <script src="http://www.zeptojs.cn/skin/zepto-docs.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            wx.config({
                debug: true,
                appId: 'wx11b2246e364f6349',
                timestamp: '<%= timestamp %>',
                nonceStr: '<%= noncestr %>',
                signature: '<%= signature %>',
                jsApiList: ['startRecord', 'stopRecord', 'onVoiceRecordEnd', 'translateVoice']
            })
        </script>
    </body>
</html>